body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.position {
    font-weight: bold;
}

.name {
    font-style: italic;
}

.th_exp {
    text-transform: uppercase;
    background-color: rgba(247, 169, 145, 0.831);
}

.links {
    color: #00f;
    text-decoration: underline;
}

.links:visited {
    color: #005;
    text-decoration: underline;
}

.links:hover {
    text-decoration: none;
}

.skills {
    list-style-type: square;
}

.achievements {
    border-color:rgb(174, 79, 2);
    border-bottom-style:double;
}

.my_photo {
    border-color:rgb(174, 79, 2);
    border-style:double;
    border-width: 2px;
    padding: 10px;
    float:right;
    height:100px;
}

.table_exp {
    background-color: rgba(255, 215, 202, 0.831);
    width:100%;
    margin-top: 20px;
}

